.post-card{
    background: #fff;
    box-shadow: 0  0 10px #000;
    transition: transform 100ms ease-in-out;
  }
  .post-card:hover{
    transform: scale(1.05);
  }
  .post-card img{
    max-width: 100%;
  }